div.editable-tree-node {
    max-width: 400px;
    background-color: #FFF;
    border-radius: 5px;
    margin: 4px 0;
    box-shadow: gray 2px 1px 5px;
    text-align: center;
    display: grid;
    cursor: pointer;
    position: relative;
    grid-template-columns: 25% 25% 50%;
    grid-template-rows: 30px 20px;
    max-height: 60px;    
}

div.editable-tree-node textarea {
    resize: none;
    /* text-align: center; */
    border: none;
    font-size: 11px;
    margin: 0;
    font-family: sans-serif;    
    outline: none;
    padding: 3px 8px 3px 8px;
    
}

div.editable-tree-node textarea.name {
    grid-column: 1/2;
    grid-row: 1/3;
    background-color: black;
    color: rgb(255, 255, 255);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;    
    font-weight: bold;
}

div.editable-tree-node textarea.name::placeholder {
    color: rgb(255, 255, 255);
    opacity: 0.7;
}

div.editable-tree-node textarea.type {
    grid-column: 2/3;
    grid-row: 1/2;
    background-color: #FFA700;
    font-weight: bold;
    color: black;    
}

div.editable-tree-node textarea.type::placeholder {
    color: black;
    opacity: 0.7;
}

div.editable-tree-node textarea.value {
    grid-column: 3/4;
    grid-row: 1/3;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border: 1px solid #FFA700;
}

div.editable-tree-node select {
    grid-column: 2/3;
    grid-row: 2/3;
    font-size: 10px;
    border: none;
}